/* For devices with a maximum width of 600px (Mobile Phones) */
@media only screen and (max-width: 600px) {
  .quizContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: auto;
    width: 80%;
    z-index: 2;
    overflow-y: scroll;
  }

  .quizIndicator {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    left: 64px;
    top: 40px;
  }

  .indicatorContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    gap: 16px;
    margin: 0 auto;
    width: 100%;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 5rem;
  }

  .iconContainer {
    width: 40px;
    height: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .indicatorText {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .questionContentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 40px;
    left: 65px;
    top: 145px;
  }

  .questionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .questionContentText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .questionIndicator {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #abc1e1;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .questionTextContainer {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #ffffff;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  .answerOptionsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: scroll;
  }

  .optionsContainer {
    display: flex;
    width: 100%;
  }

  .submitContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 16px;
    background: #a729f5;
    box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
    border-radius: 16px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  .submitText {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .option {
    overflow-x: scroll;
  }
}

/* For devices with a minimum width of 601px and a maximum width of 1024px (Tablets) */
@media only screen and (min-width: 601px) and (max-width: 1023px) {
  .quizContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: auto;
    width: 80%;
    z-index: 2;
    overflow-y: scroll;
  }

  .quizIndicator {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    left: 64px;
    top: 40px;
  }

  .indicatorContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    gap: 24px;
    margin: 0 auto;
    width: 100%;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 2rem;
  }

  .iconContainer {
    width: 56px;
    height: 56px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .indicatorText {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    color: #ffffff;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .questionContentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;
    left: 64px;
    top: 145px;
  }

  .questionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .questionContentText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 27px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .questionIndicator {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #abc1e1;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .questionTextContainer {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    color: #ffffff;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  .answerOptionsContainer {
    display: flex;
    width: 100%;
  }

  .submitContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 8px;
    background: #a729f5;
    box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
    border-radius: 24px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  .submitText {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .option {
    overflow-x: scroll;
  }
}

/* For devices with a minimum width of 1025px (Laptops) */
@media only screen and (min-width: 1024px) {
  .quizContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: auto;
    width: 100%;
    z-index: 2;
    overflow-y: scroll;
    margin: 1rem;
    padding-right: 6rem;
  }

  .quizIndicator {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
  }

  .indicatorContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    margin: 0 auto;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .iconContainer {
    width: 56px;
    height: 56px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .indicatorText {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    color: #ffffff;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .questionContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 1rem;
    /* position: absolute;
    left: 140px;
    top: 224px; */
    width: 100%;
  }

  .questionContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 123px;
    margin: 0 auto;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 40%;
  }

  .questionContentText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 27px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .questionIndicator {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #abc1e1;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .questionTextContainer {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    color: #ffffff;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    text-wrap: wrap;
  }

  .submitContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 8px;
    background: #a729f5;
    box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
    border-radius: 24px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  .submitContainer:hover {
    cursor: pointer;
  }

  .submitText {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .correctOptionBox {
    border: 1px solid green;
  }

  .incorrectOptionBox {
    border: 1px solid red;
  }

  .option {
    margin: 0.5rem 1rem 0 1rem;
  }

  .option:hover {
    background-color: rgba(167, 41, 245, 0.25);
  }

  .option:focus {
    background-color: #a729f5;
  }

  .optionSubmitContainer {
    margin: 0 1rem 0 1rem;
  }

  .option {
    overflow-x: scroll;
  }
}